<!DOCTYPE html>
<html lang="en" ng-app="personasApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1">
    <title>Enterprise User Experience : Persona {{}}</title>
    <link rel="stylesheet" href="styles/site.min.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600" rel="stylesheet" type="text/css">
</head>
<body ng-controller="AppController as ctrl">
    <header>
    main header...
    </header>
    <main>
    <section class="persona-controls-container">
        <p>You’ve read about the importance of being courageous, rebellious and imaginative. These are all vital ingredients in an effective advertising campaign. However, they must be tempered with the most important ingredient of all.</p>
        <section class="personal-info">
            <h2>Step 1: Give your persona some personality!</h2>
            <div class="flex-row">
                <ul>
                    <li>
                        <label>Name:</label>
                        <input type="text" ng-model="personaData.name">
                    </li>
                    <li>
                        <label>Age:</label>
                        <input type="number" ng-model="personaData.age">
                    </li>
                    <li>
                        <label>Gender:</label>
                        <span class="field-wrapper">
                            <select  name="gender" id="" ng-model="personaData.gender">
                                <option value="">Please Specify</option>
                                <option value="male">Male</option>
                                <option value="female">Female</option>
                            </select>
                        </span>
                    </li>
                </ul>

                <ul>
                    <li>
                        <label>Education:</label>
                        <span class="field-wrapper">
                            <select name="education" id="" ng-model="personaData.education">
                                <option value="">Select Education</option>
                                <option value="High School">High School</option>
                                <option value="Some College">Some College</option>
                                <option value="Bachelor's Degree">Bachelor's Degree</option>
                                <option value="Master's Degree">Master's Degree</option>
                            </select>
                        </span>
                    </li>
                    <li>
                        <label>Location:</label>
                        <input type="text" ng-model="personaData.location">
                    </li>
                    <li>
                        <label>Role:</label>
                        <input type="text" ng-model="personaData.role">
                    </li>
                </ul>
            </div>
            <h3 class="about">About
                <span>Character Limit: {{personaData.maxCharacterCounts.about-personaData.about.length}}</span>
            </h3>

            <textarea ng-model="personaData.about" maxlength="{{personaData.maxCharacterCounts.about}}" ng-trim="false"></textarea>

            <h3 class="quote">Quote
                <span>Character Limit: {{personaData.maxCharacterCounts.quote-personaData.quote.length}}</span>
            </h3>
            <textarea ng-model="personaData.quote" maxlength="{{personaData.maxCharacterCounts.quote}}" ng-trim="false"></textarea>
        </section>

        <section class="questions">
            <h2>Step 2: Answer some questions on how your persona intends to use your new product or service.</h2>
            <persona-question ng-model="personaData.questions.q1" default-question-text="What am I trying to do?"></persona-question>
            <span>Character Limit: {{personaData.maxCharacterCounts.questions-personaData.answers.a1.length}}</span>
            <textarea ng-model="personaData.answers.a1" maxlength="{{personaData.maxCharacterCounts.questions}}" ng-trim="false"></textarea>
            <persona-question ng-model="personaData.questions.q2" default-question-text="Why am I trying to do this?"></persona-question>
            <span>Character Limit: {{personaData.maxCharacterCounts.questions-personaData.answers.a2.length}}</span>
            <textarea ng-model="personaData.answers.a2" maxlength="{{personaData.maxCharacterCounts.questions}}" ng-trim="false"></textarea>
            <persona-question ng-model="personaData.questions.q3" default-question-text="What do I need to be successful?"></persona-question>
            <span>Character Limit: {{personaData.maxCharacterCounts.questions-personaData.answers.a3.length}}</span>
            <textarea ng-model="personaData.answers.a3" maxlength="{{personaData.maxCharacterCounts.questions}}" ng-trim="false"></textarea>
            <persona-question ng-model="personaData.questions.q4" default-question-text="When do I want to do this?"></persona-question>
            <span>Character Limit: {{personaData.maxCharacterCounts.questions-personaData.answers.a4.length}}</span>
            <textarea ng-model="personaData.answers.a4" maxlength="{{personaData.maxCharacterCounts.questions}}" ng-trim="false"></textarea>
        </section>

        <section class="tech-info">
            <h2>Step 3: Answer some questions about your persona’s technical abilities.</h2>
            <div class="flex-row">
                <div class="card technology-used">
                    <header>What device(s) do your users perform their work on?</header>
                    <ul class="device-options">
                        <li ng-repeat="(device, val) in personaData.selectedDevices">
                            <input type="checkbox" id="device{{$index}}" ng-model="personaData.selectedDevices[device]" >
                            <label for="device{{$index}}">{{ device }}</label>
                        </li>
                    </ul>
                </div>
                <div class="card sites-used">
                    <header>What site(s) do your users go to during a typical workday?</header>
                    <ul>
                        <li><input type="text" id="sitesUsed1" ng-model="personaData.sitesUsed.site1"></li>
                        <li><input type="text" id="sitesUsed2" ng-model="personaData.sitesUsed.site2"></li>
                        <li><input type="text" id="sitesUsed3" ng-model="personaData.sitesUsed.site3"></li>
                        <li><input type="text" id="sitesUsed4" ng-model="personaData.sitesUsed.site4"></li>
                    </ul>
                </div>
                <div class="card graph">
                    <p>What is the comfort level of your user with technology?</p>
                    <input type="range" id="techUnderstanding" min="0" max="100" ng-model="personaData.techUnderstanding">
                    <p>What is the comfort level of your user with change?</p>
                    <input type="range" id="changeComfort" min="0" max="100" ng-model="personaData.changeComfort">
                </div>
            </div>
        </section>
    </section>


    <section class="persona-display-container" ng-class="className">

    <section class="flex-row">
        <div class="flex-print">
            <h2 class="persona-name">{{personaData.name}}</h2>
            <div class="persona-profile">
                <img ng-src="images/{{personaData.imageFile}}" alt="zuul" />
                <div class="demographics">
                    <ul >
                        <li>
                            <span>Age:</span>
                            <span>{{personaData.age}}</span>
                        </li>
                        <li><span>Gender:</span>
                            <span>{{personaData.gender}}</span>
                        </li>
                        <li><span>Education:</span>
                            <span>{{personaData.education}}</span>
                        </li>
                        <li><span>Location:</span>
                            <span>{{personaData.location}}</span>
                        </li>
                        <li><span>Role:</span>
                            <span>{{personaData.role}}</span>
                        </li>
                    </ul>
                </div>
            </div>
            <h3 class="quote">Quote</h3>
            <p>{{personaData.quote}}</p>
        </div>
        <div class="flexed-element">
            <h3 class="about">About</h3>
            <p>{{personaData.about}}</p>
        </div>
    </section>


    <section class="questions">
        <h3>{{personaData.questions.q1}}</h3>
            <p>{{personaData.answers.a1}}</p>
        <h3>{{personaData.questions.q2}}</h3>
            <p>{{personaData.answers.a2}}</p>
        <h3>{{personaData.questions.q3}}</h3>
            <p>{{personaData.answers.a3}}</p>
        <h3>{{personaData.questions.q4}}</h3>
            <p>{{personaData.answers.a4}}</p>
    </section>

    <section class="tech-info">
        <h3>Tech Usage</h3>
        <div class="flex-row">
            <div class="card">
                <header>Devices</header>
                <ul>
                    <li ng-repeat="(device, value) in personaData.selectedDevices" ng-if="value === true">
                        {{device}}
                    </li>
                </ul>
            </div>
            <div class="card sites-used">
                <header>Site Usage</header>
                <ul>
                    <li>{{ personaData.sitesUsed.site1 }}</li>
                    <li>{{ personaData.sitesUsed.site2 }}</li>
                    <li>{{ personaData.sitesUsed.site3 }}</li>
                    <li>{{ personaData.sitesUsed.site4 }}</li>
                </ul>
            </div>
            <div class="card graph">
                <p>What is the comfort level of your user with tech?</p>
                <div class="bar-graph tech-graph" ng-style="{ width: personaData.techUnderstanding + '%' || '0%' }">{{personaData.techUnderstanding}}%</div>
                <p>What is the comfort level of your user with change?</p>
                <div class="bar-graph change-graph" ng-style="{ width: personaData.changeComfort + '%' || '0%' }">{{personaData.changeComfort}}%</div>
            </div>
        </div>
    </section>



</section>
    </main>
<footer>
    <button class="reset" ng-click="resetPersona()" ng-if="!isViewing">Reset</button>
    <button class="generate" ng-click="toggleClass('move'); togglePersonaView(); getRandomImage()" ng-if="!isViewing">Generate</button>
    <button class="edit" ng-click="toggleClass(); togglePersonaView()" ng-if="isViewing">Edit</button>
    <button class="print html" ng-click="printPersona()" ng-if="isViewing">Print</button>
</footer>



    <script src="scripts/site.min.js"></script>
</body>
</html>
