<!DOCTYPE html>
<html lang="en" ng-app="personasApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1">
    <title>Enterprise User Experience : Persona {{personaFor}}</title>
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="apple-mobile-web-app-title" content="Persona Creator">
    <meta name="application-name" content="Persona Creator">
    <meta name="msapplication-TileColor" content="#1f3340">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="styles/site.min.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600" rel="stylesheet" type="text/css">
</head>
<body ng-controller="AppController as ctrl">
<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-K2TWFB"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-K2TWFB');</script>
<!-- End Google Tag Manager -->
    <main>
    <section class="persona-controls-container">
        <header>
            <h1 class="screen-reader">Enterprise User Experience: Persona Builder</h1>
            <a href="http://www.unumux.com/" class="return-home">
                <img src="images/uxenterprise.svg" alt="Enterprise User Experience" />
            </a>
        </header>
        <p>With all the work that goes into <a href="http://www.unumux.com/ux-insights/2015/11/23/persona-development">developing a persona</a>, why not make it look beautiful?  Now you can!  Answer the questions below, then generate your persona. It’s that simple!</p>
        <section class="personal-info">
            <h2>Step 1: Give your persona some personality!</h2>
            <div class="flex-row">
                <ul>
                    <li>
                        <label>Name:</label>
                        <input type="text" ng-model="personaData.name">
                    </li>
                    <li>
                        <label>Age:</label>
                        <input type="number" ng-model="personaData.age">
                    </li>
                    <li>
                        <label>Gender:</label>
                        <span class="field-wrapper">
                            <select  name="gender" id="" ng-model="personaData.gender">
                                <option value="">Please Specify</option>
                                <option value="male">Male</option>
                                <option value="female">Female</option>
                            </select>
                        </span>
                    </li>
                </ul>

                <ul>
                    <li>
                        <label>Education:</label>
                        <span class="field-wrapper">
                            <select name="education" id="" ng-model="personaData.education">
                                <option value="">Select Education</option>
                                <option value="High School">High School</option>
                                <option value="Some College">Some College</option>
                                <option value="Bachelor's Degree">Bachelor's Degree</option>
                                <option value="Master's Degree">Master's Degree</option>
                            </select>
                        </span>
                    </li>
                    <li>
                        <label>Location:</label>
                        <input type="text" ng-model="personaData.location">
                    </li>
                    <li>
                        <label>Role:</label>
                        <input type="text" ng-model="personaData.role">
                    </li>
                </ul>
            </div>
            <h3 class="about">About
                <span class="character-limit-container">Character Limit: {{personaData.maxCharacterCounts.about-personaData.about.length}}</span>
            </h3>

            <textarea ng-model="personaData.about" maxlength="{{personaData.maxCharacterCounts.about}}" ng-trim="false"></textarea>

            <h3 class="quote">Quote
                <span class="character-limit-container">Character Limit: {{personaData.maxCharacterCounts.quote-personaData.quote.length}}</span>
            </h3>
            <textarea ng-model="personaData.quote" maxlength="{{personaData.maxCharacterCounts.quote}}" ng-trim="false"></textarea>
        </section>

        <section class="questions">
            <h2>Step 2: Answer some questions on how your persona intends to use your new product or service.</h2>
            <persona-question ng-model="personaData.questions.q1" default-question-text="What am I trying to do?"></persona-question>
            <span class="character-limit-container">Character Limit: {{personaData.maxCharacterCounts.questions-personaData.answers.a1.length}}</span>
            <textarea ng-model="personaData.answers.a1" maxlength="{{personaData.maxCharacterCounts.questions}}" ng-trim="false" placeholder="What is the user trying to accomplish?"></textarea>
            <persona-question ng-model="personaData.questions.q2" default-question-text="Why am I trying to do this?"></persona-question>
            <span class="character-limit-container">Character Limit: {{personaData.maxCharacterCounts.questions-personaData.answers.a2.length}}</span>
            <textarea ng-model="personaData.answers.a2" maxlength="{{personaData.maxCharacterCounts.questions}}" ng-trim="false" placeholder="What user needs and business requirements are being addressed with the user?"></textarea>
            <persona-question ng-model="personaData.questions.q3" default-question-text="What do I need to be successful?"></persona-question>
            <span class="character-limit-container">Character Limit: {{personaData.maxCharacterCounts.questions-personaData.answers.a3.length}}</span>
            <textarea ng-model="personaData.answers.a3" maxlength="{{personaData.maxCharacterCounts.questions}}" ng-trim="false" placeholder="How will the user measure their success?"></textarea>
            <persona-question ng-model="personaData.questions.q4" default-question-text="When do I want to do this?"></persona-question>
            <span class="character-limit-container">Character Limit: {{personaData.maxCharacterCounts.questions-personaData.answers.a4.length}}</span>
            <textarea ng-model="personaData.answers.a4" maxlength="{{personaData.maxCharacterCounts.questions}}" ng-trim="false" placeholder="When does the user need to use this or be informed about this?"></textarea>
        </section>

        <section class="tech-info">
            <h2>Step 3: Answer some questions about your persona’s technical abilities.</h2>
            <div class="flex-row">
                <div class="card technology-used">
                    <header>What device(s) do your users perform their work on? (Select all that apply.)</header>
                    <ul class="device-options">
                        <li ng-repeat="(device, val) in personaData.selectedDevices">
                            <input type="checkbox" id="device{{$index}}" ng-model="personaData.selectedDevices[device]" >
                            <label for="device{{$index}}">{{ device }}</label>
                        </li>
                    </ul>
                </div>
                <div class="card sites-used">
                    <header>What site(s) do your users visit during a typical workday?</header>
                    <ul>
                        <li><input type="text" id="sitesUsed1" ng-model="personaData.sitesUsed.site1" maxlength="30"></li>
                        <li><input type="text" id="sitesUsed2" ng-model="personaData.sitesUsed.site2" maxlength="30"></li>
                        <li><input type="text" id="sitesUsed3" ng-model="personaData.sitesUsed.site3" maxlength="30"></li>
                        <li><input type="text" id="sitesUsed4" ng-model="personaData.sitesUsed.site4" maxlength="30"></li>
                    </ul>
                </div>
                <div class="card graph">
                    <slider-component
	                    ng-model="personaData.techUnderstanding"
	                    question-text="What is the comfort level of your user with technology?"
                        min-scale-definition="Afraid"
	                    max-scale-definition="Confident"
                        show-range-value="true"
                        range-value-type="%"
                    ></slider-component>

                    <slider-component
	                    ng-model="personaData.changeComfort"
	                    question-text="What is the comfort level of your user with change?"
	                    min-scale-definition="Hates"
	                    max-scale-definition="Embraces"
	                    show-range-value="true"
	                    range-value-type="%"
                    ></slider-component>
                </div>
            </div>
        </section>
    </section>


    <section class="persona-display-container" ng-class="className">
    <section class="flex-row">
        <div class="flex-print">
            <h2 class="persona-name">{{personaData.name}}</h2>
            <div class="persona-profile">
                <img ng-src="images/{{personaData.imageFile}}" alt="persona avatar" />
                <ul >
                    <li>
                        <span>Age:</span>
                        <span>{{personaData.age}}</span>
                    </li>
                    <li><span>Gender:</span>
                        <span>{{personaData.gender}}</span>
                    </li>
                    <li><span>Education:</span>
                        <span>{{personaData.education}}</span>
                    </li>
                    <li><span>Location:</span>
                        <span>{{personaData.location}}</span>
                    </li>
                    <li><span>Role:</span>
                        <span>{{personaData.role}}</span>
                    </li>
                </ul>
            </div>
            <h3 class="quote">Quote</h3>
            <p>{{personaData.quote}}</p>
        </div>
        <div class="flexed-element">
            <h3 class="about">About</h3>
            <p>{{personaData.about}}</p>
        </div>
    </section>


    <section class="questions">
        <h3>{{personaData.questions.q1}}</h3>
            <p>{{personaData.answers.a1}}</p>
        <h3>{{personaData.questions.q2}}</h3>
            <p>{{personaData.answers.a2}}</p>
        <h3>{{personaData.questions.q3}}</h3>
            <p>{{personaData.answers.a3}}</p>
        <h3>{{personaData.questions.q4}}</h3>
            <p>{{personaData.answers.a4}}</p>
    </section>

    <section class="tech-info">
        <h3>Tech Usage</h3>
        <div class="flex-row">
            <div class="card">
                <header>Devices</header>
                <ul>
                    <li ng-repeat="(device, value) in personaData.selectedDevices" ng-if="value === true">
                        {{device}}
                    </li>
                </ul>
            </div>
            <div class="card sites-used">
                <header>Site Usage</header>
                <ul>
                    <li>{{ personaData.sitesUsed.site1 }}</li>
                    <li>{{ personaData.sitesUsed.site2 }}</li>
                    <li>{{ personaData.sitesUsed.site3 }}</li>
                    <li>{{ personaData.sitesUsed.site4 }}</li>
                </ul>
            </div>
            <div class="card graph">
                <p>What is the comfort level of your user with tech?</p>
                <div class="bar-graph-container">
                    <div class="bar-graph tech-graph" ng-style="{ width: personaData.techUnderstanding + '%' || '0%' }"></div>
                    <span>{{personaData.techUnderstanding}}%</span>
                </div>
                <p>What is the comfort level of your user with change?</p>
                <div class="bar-graph-container">
                    <div class="bar-graph change-graph" ng-style="{ width: personaData.changeComfort + '%' || '0%' }"></div>
                    <span>{{personaData.changeComfort}}%</span>
                </div>
            </div>
        </div>
    </section>



</section>
    </main>
<footer>
    <button class="reset" ng-click="resetPersona()" ng-if="!isViewing">Reset</button>
    <button class="generate right" ng-click="toggleClass('move'); togglePersonaView(); getRandomImage()" ng-if="!isViewing">Generate Persona</button>
    <button class="edit" ng-click="toggleClass(); togglePersonaView()" ng-if="isViewing">Edit</button>
    <button class="print right" ng-click="printPersona()" ng-if="isViewing">Print</button>
</footer>



    <script src="scripts/site.min.js"></script>
</body>
</html>
